<nav>
  <ul>
    <div class="main-navbar w-100 bg-light gap-5 d-flex flex-row justify-content-between">
      <div class="navbar-start px-3 py-3 list-unstyled text-decoration-none">
          <a class="text-decoration-none" routerLink="/" routerLinkActive="active">Saanjh</a>
      </div>
      <div class="navbar-end d-flex flex-row px-3 py-3 list-unstyled gap-5">
        <a routerLink="/men-wear" routerLinkActive="active" ariaCurrentWhenActive="page">Male</a>
        <a routerLink="/women-wear" routerLinkActive="active" ariaCurrentWhenActive="page">Women</a>
        <a routerLink="/top-collections" routerLinkActive="active" ariaCurrentWhenActive="page">Top Collections</a>
        <a routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page">Profile</a>
        <i class="pi pi-bars"></i>
      </div>
    </div>
  </ul>
</nav>
<router-outlet></router-outlet>

<div class="position-relative p-5 row">
  <div class="col-4">
    <h1 class="text-capitalize justify-content-center">most sold winter essentials
      <span style="font-family: primeIcons;" class=" pi pi-arrow-right"></span>
    </h1>
  </div>
  <div class="row col-8">
    <div class="cloth-image-1 ">
      <img class="col-4 row" src="../assets/cloth-1.jpg" alt="cloth-1" />
      <div class="row-cols-6 text-capitalize">Men's wear Blue</div>
      <div class="row-cols-6">25$</div>
    </div>
    <div class="cloth-image-1">
      <img class="col-4 row" src="../assets/cloth-2.jpg" alt="cloth-2" />
      <div class="row-cols-6 text-capitalize">Men's wear green</div>
      <div class="row-cols-6">34$</div>
    </div>
    <div class="cloth-image-1">
      <img class="col-4 row" src="../assets/cloth-3.jpg" alt="cloth-3" />
      <div class="row-cols-6 text-capitalize">Men's wear white</div>
      <div class="row-cols-6">43$</div>
    </div>
  </div>
</div>